/* ================ BASE CSS FOR APPLICATION  =============== */

html {
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
	scrollbar-color: #45BF7C #8e8e8e;
	scrollbar-width: thin;
	-ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track{
  background: #8e8e8e;
}

html::-webkit-scrollbar-thumb{
  background: #45BF7C;
}

body {
  font-family: 'Montserrat', sans-serif;
	background-color: #f7f7f7;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333435;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
strong {
	font-weight: 700;
}

h4,
h5,
h6,
b,
.h4,
.h5,
.h6 {
	font-weight: 600;
}


a {
	cursor: pointer;
	outline: none;
	text-decoration: inherit;
}

a:hover {
  text-decoration: inherit;
}

a.wblock{
	display: block;
	color: inherit !important;
}


/* Input Forms Global */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 31, 31, 0.26);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background: #F8F8F8;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 24%);
}

input:checked + .slider {
  background-color: #45BF7C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #45BF7C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.form-control{
  border: 1px solid #45BF7C;
  font-weight: 500;
}

.form-control:focus{
  box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-content {
  padding-top: 45px;
  min-height: 80vh;
	margin-bottom: 50px;
	position: relative;
}


@media only screen and (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1340px;
  }
}
