/* ================ BASE CSS FOR APPLICATION  =============== */

html {
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
	scrollbar-color: #45BF7C #8e8e8e;
	scrollbar-width: thin;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track{
  background: #8e8e8e;
}

html::-webkit-scrollbar-thumb{
  background: #45BF7C;
}

body {
  font-family: 'Montserrat', sans-serif;
	background-color: #f7f7f7;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333435;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
strong {
	font-weight: 700;
}

h4,
h5,
h6,
b,
.h4,
.h5,
.h6 {
	font-weight: 600;
}


a {
	cursor: pointer;
	outline: none;
	text-decoration: inherit;
}

a:hover {
  text-decoration: inherit;
}

a.wblock{
	display: block;
	color: inherit !important;
}


/* Input Forms Global */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

select:focus > option:checked { 
	background: #000 !important;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}

.main-content {
  padding-top: 45px;
  min-height: 95vh;
	margin-bottom: 60px;
	position: relative;
}

