/* button */
.btn {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 0.38rem 1.2rem;
}

.btn:focus, 
.btn:active:focus, 
.btn:active{
  outline: 0;
  box-shadow: none;
}

.btn-green {
  background: #45BF7C;
  color: #FFFFFF;
}

.btn-green:hover {
  background: #6ae2a0;
  color: #FFFFFF;
}

.btn-outline-green{
  border: 2px solid #45BF7C;
  color: #45BF7C;
}

.btn-outline-green:hover{
  background: #45BF7C;
  color: white;
}

.d-center{
  display: flex;
  align-items: center;
}

.clr-green{
  color: #45BF7C;
}