.btn {
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 600;
}

.btn:focus,
.btn:active:focus,
.btn:active {
    outline: 0;
    box-shadow: none;
}

.btn-green {
    background: #45bf7c;
    color: #ffffff;
}

.btn-green:hover {
    background: #6ae2a0;
    color: #ffffff;
}

.btn-outline-green {
    border: 2px solid #45bf7c;
    color: #45bf7c;
}

.btn-outline-green:hover {
    background: #45bf7c;
    color: white;
}

.d-center {
    display: flex;
    align-items: center;
}

.clr-green {
    color: #45bf7c;
}

.clr-black {
    color: #333435 !important;
}

.clr-white {
    color: white;
}

.clr-grey {
    color: #65696f;
}

.clr-yellow {
    color: #e2af1b;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-md {
    font-size: 1.125rem;
}

.text-xxs {
    font-size: 10px;
}

.text-xs {
    font-size: 0.75rem;
}

.slick-dots li button,
.slick-dots li {
    width: 8px;
    height: 8px;
}

.slick-dots li button:before {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    display: block;
    content: "";
    opacity: 0.5;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
}

.slick-slide {
    position: relative;
}

.slick-dots li:only-child {
    display: none;
}

.slider-arrows .wrap-arrow {
    background: #45bf7c;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}

.slider-arrows .prev-slider {
    left: -55px;
}

.slider-arrows .next-slider {
    right: -55px;
}

.slider-arrows .wrap-arrow:hover {
    background: #65696f;
}

.wa-sosmed {
    position: fixed;
    right: 50px;
    bottom: 60px;
    cursor: pointer;
    z-index: 999;
}


.font-semibold {
    font-weight: 600;
}

.font-medium {
    font-weight: 500;
}

.card-simple {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 15px;
    height: 100%;
    transition: 0.3s linear all;
    overflow-wrap: break-word;
    position: relative;
    word-break: break-word;
}

.card-simple:hover {
    transform: scale(1.02);
}

.card-thumbnail {
    transition: 0.3s linear all;
}

.card-thumbnail:hover {
    transform: scale(1.02);
}

.card-thumbnail .thumb-pict {
    position: relative;
    border-radius: 4px 4px 0px 0px;
}

.tag-cat {
    background: #45bf7c;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    display: inline-block;
}

.tag-cat.urgent {
    background: #cb3f34;
}

.tag-cat.tag-abs {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-thumbnail .thumb-pict img {
    height: 182px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
    object-position: center;
}

.card-thumbnail .card-title {
    height: 39px;
    overflow: hidden;
}

.card-thumbnail .card-detail {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    border-radius: 0px 0px 4px 4px;
    overflow-wrap: break-word;
    position: relative;
    word-break: break-word;
    padding: 15px;
}

.card-thumbnail .progress {
    height: 4px;
    border-radius: 10px;
    background: #e3e3e3;
}

.card-thumbnail .progress .bg-success {
    background-color: #45bf7c !important;
}

.cus-breadcrumb .current {
    color: #65696f;
    font-weight: 500;
}

.cus-breadcrumb {
    color: #45bf7c;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.wrapper-boxtext {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 60px 80px;
    padding-bottom: 60px;
}

.box-white {
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding: 40px;
    min-height: 143px;
    background: white;
}

.wrapper-boxtext .box-title {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid #65696f;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #333435;
}

.wrapper-boxtext .box-detail {
    margin-bottom: 1.5rem;
    font-size: 1rem !important;
}

.wrapper-boxtext .box-detail ul,
.wrapper-boxtext .box-detail ol {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.wrapper-boxtext .box-detail h1,
.wrapper-boxtext .box-detail h2,
.wrapper-boxtext .box-detail h3,
.wrapper-boxtext .box-detail h4,
.wrapper-boxtext .box-detail h5 {
    color: #45bf7c;
}

.dropdown-menu {
    background: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
    font-size: 0.875rem;
}

.dropdown-item {
    padding: 0.3rem 1rem;
    color: #292a2a;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #f6fbf7;
    color: #45bf7c;
}

.page-link:focus {
    box-shadow: none;
}

.page-link {
    padding: 0.7rem 1.1rem;
    color: #45bf7c;
    border: 1px solid #e3e3e3;
}

.page-item.active .page-link,
.page-link:hover {
    background: #45bf7c;
    border: 1px solid #45bf7c;
    color: white;
}

.custom-search {
    display: flex;
}

.custom-search .input-search {
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #333435;
    border-radius: 4px;
    padding-left: 10px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.custom-search .btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.custom-search .input-search:focus-visible {
    outline: none;
}

.group-select .select-cat {
    color: white;
    padding: 0;
    font-size: 0.875rem;
    background: initial;
    border: none;
}

.group-select .select-cat option {
    color: black;
}

.group-select .select-cat:focus {
    outline: none;
    box-shadow: none;
}


.empty-state {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
    padding-bottom: 30px;
}

.empty-state .icon-empty {
    min-width: 250px;
    object-fit: contain;
    margin: 0 auto;
    max-width: 100%;
}

.pill-status {
    width: 108px;
    height: 37px;
    border: 1px solid #fbbc05;
    color: #fbbc05;
    font-size: 0.875rem;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pill-status.yellow {
    border: 1px solid #fbbc05;
    color: #fbbc05;
}

.pill-status.gray {
    border: 1px solid #65696f;
    color: #65696f;
}

.pill-status.green {
    border: 1px solid #45bf7c;
    color: #45bf7c;
}

.custom-scrollbar {
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: #45bf7c #8e8e8e;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #8e8e8e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #45bf7c;
}

.no-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mini-bullet{
    background: #C6C5C5;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
}

/* The container */
.custom-check-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: #65696F;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-check-radio  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  height: 16px;
  top: 2px;
  width: 16px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.custom-check-radio:hover input ~ .checkmark {
  background-color: #45BF7C;
}

/* When the checkbox is checked, add a blue background */
.custom-check-radio input:checked ~ .checkmark {
  background-color: #45BF7C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-check-radio  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-check-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-check-radio .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* enter , tab visible */
.pre-wrap {
    overflow-wrap: break-word;
    position: relative;
    white-space: pre-wrap;
    word-break: break-word;
}

/* responsive */

@media only screen and (max-width: 991px) {
    .wrapper-boxtext {
        padding: 15px;
    }

    .slider-arrows .prev-slider {
        left: -15px;
    }

    .slider-arrows .next-slider {
        right: -15px;
    }

    .wa-sosmed {
        right: 15px;
        bottom: 80px;
    }

    .box-white {
        padding: 30px;
    }
}
