.btn {
  border-radius: 4px;
  font-size: .875rem;
  font-weight: 600;
}

.btn:focus, 
.btn:active:focus, 
.btn:active{
  outline: 0;
  box-shadow: none;
}

.btn-green {
  background: #45BF7C;
  color: #FFFFFF;
}

.btn-green:hover {
  background: #6ae2a0;
  color: #FFFFFF;
}

.btn-outline-green{
  border: 2px solid #45BF7C;
  color: #45BF7C;
}

.btn-outline-green:hover{
  background: #45BF7C;
  color: white;
}

.d-center{
  display: flex;
  align-items: center;
}

.clr-green{
  color: #45BF7C;
}

.clr-white{
  color: white;
}

.clr-grey {
  color: #65696F;
}

.text-sm{
  font-size: 0.875rem;
}

.text-base{
  font-size: 1rem;
}

.text-xxs{
  font-size: 10px;
}

.text-xs{
  font-size: 0.75rem;
}

.slick-dots li button, .slick-dots li {
  width: 8px;
  height: 8px;
}

.slick-dots li button:before {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  display: block;
  content: '';
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}

.slick-slide {
  position: relative;
}

.slick-dots li:only-child{
  display: none;
}

.slider-arrows .wrap-arrow{
  background: #45BF7C;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
} 

.slider-arrows .prev-slider{
  left: -55px;
}

.slider-arrows .next-slider{
  right: -55px;
}


@media only screen and (max-width: 991px){
  .slider-arrows .prev-slider{
    left: -15px;
  }
  
  .slider-arrows .next-slider{
    right: -15px;
  }
}

.slider-arrows .wrap-arrow:hover{
  background: #65696F;
}

.wa-sosmed {
  position: fixed;
  right: 50px;
  bottom: 60px;
  cursor: pointer;
  z-index: 999;
}

.form-control:focus{
  box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

.font-semibold{
  font-weight: 600;
}

.font-medium{
  font-weight: 500;
}

.card-simple{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 15px;
  height: 100%;
  transition: .3s linear all;
  overflow-wrap: break-word;
	position: relative;
	word-break: break-word;
}

.card-simple:hover{
  transform: scale(1.02);
}

.card-thumbnail {
  transition: .3s linear all;
}

.card-thumbnail:hover{
  transform: scale(1.02);
}

.card-thumbnail .thumb-pict{
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.card-thumbnail .tag-cat{
  background: #45BF7C;
  border-radius: 4px;
  padding: 3px 8px;
  color: white;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 10px;
  font-size: 0.75rem;
  font-weight: 500;
}

.card-thumbnail .thumb-pict img{
  height: 182px;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
  object-position: center;
}

.card-thumbnail .card-detail {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
  border-radius: 0px 0px 4px 4px;
  overflow-wrap: break-word;
	position: relative;
	word-break: break-word;
  padding: 15px;
}

.card-thumbnail .progress{
  height: 4px;
  border-radius: 10px;
  background:#E3E3E3;
}

.card-thumbnail .progress .bg-success{
  background-color: #45BF7C !important;
}

.cus-breadcrumb .current{
  color: #65696F;
  font-weight: 500;
}

.cus-breadcrumb {
  color: #45BF7C;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.wrapper-boxtext {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 60px 80px;
  padding-bottom: 60px;
}

.wrapper-boxtext .box-title{
  font-size: 32px;
  font-weight: 700;
  border-bottom: 1px solid #65696F;
  padding-bottom: 15px;
  margin-bottom: 30px;
  color: #333435;
}

.wrapper-boxtext .box-detail{
  margin-bottom: 1.5rem;
}

.wrapper-boxtext .box-detail ul, 
.wrapper-boxtext .box-detail ol {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.dropdown-menu {
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
  font-size: 0.875rem;
}

.dropdown-item {
  padding: 0.3rem 1rem;
  color: #292A2A;
}

.dropdown-item:focus, 
.dropdown-item:hover{
  background: #F6FBF7;
  color: #45BF7C;
}

.page-link:focus {
  box-shadow: none;
}

.page-link{
  padding: 0.7rem 1.1rem;
  color: #45BF7C;
  border: 1px solid #E3E3E3;
}

.page-item.active .page-link,
.page-link:hover{
  background: #45BF7C;
  border: 1px solid #45BF7C;
  color: white;
}

.custom-search{
  display: flex;
}

.custom-search .input-search{
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #333435;
  border-radius: 4px;
  padding-left: 10px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.custom-search .btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-search .input-search:focus-visible {
  outline: none;
}

.group-select .select-cat {
  color: white;
  padding: 0;
  font-size: 0.875rem;
  background: initial;
  border: none;
}

.group-select .select-cat option{
  color: black;
}

.group-select .select-cat:focus{
  outline: none;
  box-shadow: none;
}

/* enter , tab visible */
.pre-wrap {
	overflow-wrap: break-word;
	position: relative;
	white-space: pre-wrap;
	word-break: break-word;
}


@media only screen and (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1300px;
  }
}
