.editprofile-page .form-control {
  background: #F8F8F8;
  border: none;
}

.editprofile-page .edit-avatar{
  height: 130px;
  width: 130px;
  background: gray;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 5rem;
}

.editprofile-page .edit-avatar .ic-camera{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.editprofile-page .edit-avatar .file-input{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

.inbox-page .thumb-img{
  width: 64px;
  height: 64px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.inbox-page .item-inbox{
  background: #F0FAF4;
  padding: 15px;
  padding-right: 35px;
  position: relative;
}

.inbox-page .item-inbox.new-notif::before{
  background: #CB3F34;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  content: '';
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}