.programdetail-page .sec-regist .banner-regist {
  background: #45BF7C;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
  border-radius: 4px;
  color: white;
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.programdetail-page .sec-regist .banner-title{
  font-size: 1.125rem;
  font-weight: 700;
}

.programdetail-page .sec-regist .btn-regist{
  background: #FFFFFF;
  color: #45BF7C;
  transition: .3s all linear;
}

.programdetail-page .sec-regist .btn-regist:hover{
  transform: scale(1.02);
}

.programdetail-page .thumb-headline{
  position: relative;
}

.programdetail-page .thumb-headline img{
  height: 484px;
  object-fit: cover;
  object-position: center;
}

.programdetail-page .thumb-headline .tag-cat{
  background: #45BF7C;
  border-radius: 4px;
  padding: 3px 8px;
  color: white;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 10px;
  font-size: 0.75rem;
  font-weight: 500;
}

.wrapper-donatur {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
  border-radius: 4px;
  padding: 30px 20px;
  position: sticky;
  top: 100px;
}

.wrapper-detail {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
  border-radius: 4px;
}

.wrapper-donatur .progress {
  height: 5px;
  border-radius: 10px;
  background: #E3E3E3;
}

.wrapper-donatur .progress .bg-success {
  background-color: #45BF7C !important;
}

.wrapper-donatur .wrap-share .ic-sosmed:hover{
  color: #45BF7C;
}

.wrapper-donatur .total-donasi{
  position: relative;
  display: flex;
}

.wrapper-donatur .wrap-share{
  border-bottom: 2px solid #E3E3E3;
}

@media only screen and (max-width: 991px){
  .programdetail-page .thumb-headline img{
    height: 300px;
  }
}